#container {
  margin: 30px;
  font-weight: bold;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

#container div,button {
  margin-top: 15px;
}

#netto {
  display: block;
  height: 20px;
  width: 100px;
  border: 1px solid black;
}
